{% extends 'base_dashboard.html.twig' %}

{% block title %}Новая организация!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <h1>Новая организация</h1>

{% endblock %}
