{% extends 'base_dashboard.html.twig' %}

{% block title %}Новая организация!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Редактирование организации</h1>
    </div>


{% endblock %}
