{% extends 'base_dashboard.html.twig' %}

{% block title %}Редактирование пользователей проекта{% endblock %}

{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}

{% block main %}

    <h1>Редактирование пользователей проекта</h1>

    <section class="section">

    </section>

{% endblock %}
