{% extends 'base_dashboard.html.twig' %}

{% block title %}История исходящего документа!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <h1>История исходящего документа!</h1>


{% endblock %}
