{% extends 'base_dashboard.html.twig' %}

{% block title %}Создание нового документа!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <h1>Создание нового документа</h1>

{% endblock %}
