{% extends 'base_dashboard.html.twig' %}

{% block title %}Исходящие документы!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <h1>Исходящие документы!</h1>


{% endblock %}
