{% extends 'base_dashboard.html.twig' %}

{% block title %}Все вакансии{% endblock %}

{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}

{% block main %}

    <h1>Все вакансии</h1>


    <section class="section">

    </section>

{% endblock %}
